graal-bin
!graal-bin/.git-keep

.DS_Store

*.jar
spigot-example/graal_dumps
spigot-example/logs
spigot-example/world*

spigot-example/plugins/ProtocolLib/lastupdate
spigot-example/plugins/WorldEdit/sessions/*
spigot-example/usercache.json

Unchained/target

node_modules
